* ### strings:
    * string is a sequential data type . Anything enclosed within single quote and double quote and triple single or double quotes.
    * String has both positive and negative index as well as step size.
        * positive indexing x[start:end:step size] =x[0:len(x):1] 
        * Negative indexing x[start:end:stepsize] = x[-1:-len(x):-1]
 
* ### mutable data types:
    * Mutable objects are those that allow you to change their value or data in place with out affectingthe objects identity.
        * list
        * set
        * dictionary
    
* ### immutable data types:
    * immutable objects dont allow this kind of operations.
        * booleans
        * Strings
        * bytes
        * tuples

* ### indexing and slicing

In [12]:
x = 'Cristiano Ronaldo Portuguese footballer'
print(x[2:10:2]) #x[start:end:step size] =x[0:len(x):1]

itao

In [11]:
x = 'Cristiano Ronaldo Portuguese footballer'
print(x[-1:-9:-2]) #x[start:end:stepsize] = x[-1:-len(x):-1]

rlat

In [17]:
x = chr(83)
print(x)

S

* ### Ordered:

In [23]:
x = ord('Z')
print(x)

90

In [24]:
x = bin(90)
print(x)

0b1011010

* ### Methods in string class:
    * Python has a set of built-in methods that you can use on strings.
    * All string methods returns new values. They do not change the original string.
        * Step1:- Take individual character of the given string.

        * Step2:- Evaluate using conditional statements.[ord(A) ......................ord(z)+1] 
        * Step3:- chr(ord(a)+32)

In [26]:
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

* ### 1 upper:
     * upper() method of builtins.str instance,Return a copy of the string converted to uppercase.

In [29]:
x = 'Cristiano Ronaldo Portuguese footballer'
x.upper()

'CRISTIANO RONALDO PORTUGUESE FOOTBALLER'

* ### 2 lower:
     * lower() method of builtins.str instance,Return a copy of the string converted to lowercase.

In [35]:
x = 'CRISTIANO RONALDO PORTUGUESE FOOTBALLER'
x.lower()

'cristiano ronaldo portuguese footballer'

* ### 3 title:
     * title() method of builtins.str instance,Return a version of the string where each word is titlecased.
     * More specifically, words start with uppercased characters and all remaining,cased characters have lower case.

In [38]:
x = 'cristiano ronaldo portuguese !!footballer'
x.title()

'Cristiano Ronaldo Portuguese !!Footballer'

* ### 4 swapcase:
     * swapcase() method of builtins.str instance,Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [40]:
x = 'Cristiano RONALDO Portuguese !!Footballer'
x.swapcase()

'cRISTIANO ronaldo pORTUGUESE !!fOOTBALLER'

* ### 5 casefold:
     * casefold() method of builtins.str instance,Return a version of the string suitable for caseless comparisons.

In [85]:
x = 'ÃŸ is a german character'
x.casefold()

'ss is a german character'

* ### 6 find:
    * find(...) method of builtins.str instance
    * S.find(sub[, start[, end]]) -> int
    * Return the lowest index in S where substring sub is found,such that sub is contained within S[start:end]. optional  ,arguments start and end are interpreted as in slice notation.
     * Return -1 on failure

In [86]:
x = '''a usually brief portion of a written work or speech that
is relevant to a point under discussion or noteworthy for content or style.
quoted a passage u from the Bible.
b. : a phrase or short section of a musical composition'''
x.find('that'),x.find('a',8),x.rfind('of',1,30)

(52, 27, 24)

* ### 7 rfind:
     * rfind(...) method of builtins.str instance
     * S.rfind(sub[, start[, end]]) -> int
     * Return the highest index in S where substring sub is found,such that sub is contained within S[start:end].  Optional arguments start and end are interpreted as in slice notation.
     * Return -1 on failure.

In [58]:
x = '''a usually brief portion of a written work or speech that
is relevant to a point under discussion or noteworthy for content or style.
quoted a passage u from the Bible.
b. : a phrase or short section of a musical composition'''
x.rfind('or',5,40)

38

* ### 8 index:
    * index(...) method of builtins.str instance
    * S.index(sub[, start[, end]]) -> int
    * Raises ValueError when the substring is not found.

In [64]:
x.index('of')

24

* ### 9 rindex:
    * Return the highest index in S where substring sub is found,such that sub is contained within S[start:end].  Optional arguments start and end are interpreted as in slice notation.
     * Raises ValueError when the substring is not found.

In [67]:
x.rindex('of',1,32)

24

* ### 10 replace:
     * replace(old, new, count=-1, /) method of builtins.str instance
     * Return a copy with all occurrences of substring old replaced by new. count Maximum number of occurrences to replace.
     * -1 (the default value) means replace all occurrences

In [69]:
x.replace('of','rtt',4)

'a usually brief portion rtt a written work or speech that\nis relevant to a point under discussion or noteworthy for content or style.\nquoted a passage u from the Bible.\nb. : a phrase or short section rtt a musical composition'

* ### 11 splitlines:
     * str instance Return a list of the lines in the string, breaking at line boundaries.
     * Line breaks are not included in the resulting list unless keepends is given and true.

In [87]:
x.splitlines()

['a usually brief portion of a written work or speech that',
 'is relevant to a point under discussion or noteworthy for content or style.',
 'quoted a passage u from the Bible.',
 'b. : a phrase or short section of a musical composition']

* ### 12 split:
     * split(sep=None, maxsplit=-1) method of builtins.str instance Return a list of the substrings in the string, using sep as the separator string.
     * sep,The separator used to split the string.

In [76]:
print(x.split('a'))

['', ' usu', 'lly brief portion of ', ' written work or speech th', 't\nis relev', 'nt to ', ' point under discussion or noteworthy for content or style.\nquoted ', ' p', 'ss', 'ge u from the Bible.\nb. : ', ' phr', 'se or short section of ', ' music', 'l composition']

* ### 13 rsplit:
    * rsplit(sep=None, maxsplit=-1) method of builtins.str instance Return a list of the substrings in the string, using sep as the separator string.

In [89]:
print(x.rsplit())

['a', 'usually', 'brief', 'portion', 'of', 'a', 'written', 'work', 'or', 'speech', 'that', 'is', 'relevant', 'to', 'a', 'point', 'under', 'discussion', 'or', 'noteworthy', 'for', 'content', 'or', 'style.', 'quoted', 'a', 'passage', 'u', 'from', 'the', 'Bible.', 'b.', ':', 'a', 'phrase', 'or', 'short', 'section', 'of', 'a', 'musical', 'composition']

* ### 14 partition:
     * partition(sep, /) method of builtins.str instance,Partition the string into three parts using the given separator.

In [164]:
x = 'malayalam'
print(x.partition('m'))

('', 'm', 'alayalam')

* ### 15 rpartition:
     * rpartition(sep, /) method of builtins.str instance Partition the string into three parts using the given separator.

In [163]:
print(x.rpartition('o'))

('ronald', 'o', '')

* ### 16 isalpha:
    * isalpha() method of builtins.str instance Return True if the string is an alphabetic string, False otherwise

In [92]:
x = 'Cristiano'
x.isalpha()

True

* ### 17 isalnum:
    * isalnum() method of builtins.str instance
    Return True if the string is an alpha-numeric string, False otherwise.

In [102]:
x = 'num1'
x.isalnum()

True

* ### 18 isascii:
    * isascii() method of builtins.str instance
      Return True if all characters in the string are ASCII, False otherwise.

In [105]:
x = 'Ronaldo'
x.isascii()

True

In [107]:
x = 'ram1'
x.isascii()

True

* ### 19 isdecimal:
    * isdecimal() method of builtins.str instance
      Return True if the string is a decimal string, False otherwise.

In [115]:
'abi'.isdecimal()

False

In [117]:
'1'.isdecimal()

True

* ### 20 isdigit:
    * isdigit() method of builtins.str instance
      Return True if the string is a digit string, False otherwise.

In [126]:
x = '10'
x.isdigit()

True

In [127]:
x = '1.0'
x.isdigit()

False

* ### 21 isidentifier:
    * isidentifier() method of builtins.str instance
      Return True if the string is a valid Python identifier, False otherwise.

In [130]:
x = 'ronaldo'
x.isidentifier()

True

In [131]:
x = '12345'
x.isidentifier()

False

* ### 22 islower:
    * islower() method of builtins.str instance
    Return True if the string is a lowercase string, False otherwise.

In [133]:
x = 'Ronaldo'
x.islower()

False

In [134]:
x = 'ronaldo'
x.islower()

True

* ### 23 isupper:
    * isupper() method of builtins.str instance
    Return True if the string is an uppercase string, False otherwise.

In [136]:
x = 'ronaldo'
x.isupper()

False

In [137]:
x = 'RONALDO'
x.isupper()

True

* ### 24 isupper:
    * isnumeric() method of builtins.str instance
    Return True if the string is a numeric string, False otherwise.

In [139]:
x = '12345'
x.isnumeric()

True

In [140]:
x = 'abhi'
x.isnumeric()

False

* ### 25 isprintable:
    * isprintable() method of builtins.str instance
    Return True if the string is printable, False otherwise.

In [142]:
x = 'abh'
x.isprintable()

True

* ### 26 isspace:
    * isspace() method of builtins.str instance
    Return True if the string is a whitespace string, False otherwise.
    A string is whitespace if all characters in the string are whitespace and there
    is at least one character in the string.

In [147]:
x = 'abhi'
x.isspace()

False

In [146]:
x = '\n'
x.isspace()

True

* ### 27 istitle:
    * istitle() method of builtins.str instance
    Return True if the string is a title-cased string, False otherwise.

In [149]:
x = 'Ronaldo'
x.istitle()

True

In [150]:
x = 'ronaldo'
x.istitle()

False